<app-header></app-header>



<div class="dashboard-container">
<h2>Liste des Collaborateurs</h2>
<!-- Pagination -->
<div class="pagination">
  <!-- Précédent -->
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="pagination-btn">
    <i class="fas fa-chevron-left"></i>
  </button>

  <!-- Affichage de la page actuelle -->
  <span>Page {{ currentPage }} sur {{ getTotalPages() }}</span>

  <!-- Suivant -->
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === getTotalPages()" class="pagination-btn">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
<!-- Section des collaborateurs -->
<div class="cards-container" *ngIf="collaborators.length > 0">
  <div class="card" [ngStyle]="{'border-color': '#42A5F5'}" *ngFor="let collaborator of paginatedCollaborators">
    <i class="fas fa-user" style="font-size: 24px; color: #42A5F5;"></i>
    <p>{{ collaborator.fullname }}</p>
  </div>
</div>


</div>
