<app-header></app-header>
<div class="back-button" (click)="navigateToDashboard()">
  <i class="fas fa-arrow-left"></i> Retour </div>

<div class="dashboard-container">
  <h2>Liste des Collaborateurs</h2>
  <div class="search-container">
    <div class="search-box">
      <i class="fa fa-search search-icon"></i> <!-- Icône de recherche -->
      <input type="text" [(ngModel)]="searchTerm" class="search-input" placeholder="Rechercher un collaborateur..."
             (input)="searchCollaborators()" />
    </div>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <!-- Précédent -->
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="pagination-btn">
      <i class="fas fa-chevron-left"></i>
    </button>
    <span>Page {{ currentPage }} sur {{ getTotalPages() }}</span>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === getTotalPages()" class="pagination-btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <!-- Liste des collaborateurs -->
  <div class="cards-container" *ngIf="collaborators.length > 0">
    <div
      class="card"
      [ngStyle]="{'border-color': '#42A5F5'}"
      *ngFor="let collaborator of paginatedCollaborators"
      (click)="openProfile(collaborator)"
    >
      <i class="fas fa-user user-icon"></i>
      <p>{{ collaborator.fullname }}</p>
    </div>
  </div>


<!-- Modal (popup) pour afficher les détails du collaborateur -->
<div *ngIf="isModalOpen" class="modal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModal()">×</span>
    <div class="icon">
      <i class="fas fa-user-circle"></i> <!-- Icône ici -->
    </div>
    <h3>Détails du Collaborateur</h3>
    <p>
      <strong style="font-size: 20px; color: #42A5F5;">Nom:</strong>
      <span style="font-size: 18px; font-weight: bold;">{{ selectedCollaborator.fullname }}</span>
    </p>
    <p>
      <strong style="font-size: 20px; color: #42A5F5;">Email:</strong>
      <span style="font-size: 18px; font-weight: bold;">{{ selectedCollaborator.email }}</span>
    </p>
    <p>
      <strong style="font-size: 20px; color: #42A5F5;">Status supprimé:</strong>
      <span style="font-size: 18px; font-weight: bold;">{{ selectedCollaborator.deleted ? 'Oui' : 'Non' }}</span>
    </p>
    <p>
      <strong style="font-size: 20px; color: #42A5F5;">En ligne:</strong>
      <span style="font-size: 18px; font-weight: bold;">{{ selectedCollaborator.online ? 'Oui' : 'Non' }}</span>
    </p>
    <p>
      <strong style="font-size: 20px; color: #42A5F5;">Rôle:</strong>
      <span style="font-size: 18px; font-weight: bold;">{{ selectedCollaborator.admin ? 'Admin' : 'Non-Admin' }}</span>
    </p>
    <button class="exit-btn" (click)="closeModal()">Exit</button>


  </div>
</div>
