/* General Header and Sidebar Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #cadeee;
  color: white;
  position: relative;
}

.header-left .logo {
  cursor: pointer;
  width: 70%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;  /* Le menu commence hors de l'écran */
  width: 250px;
  height: 100%;
  background-color: #cadeee;
  color: white;
  transition: left 0.3s ease;  /* Animation pour la transition de gauche à droite */
  padding-top: 20px;
  z-index: 999;
}

.sidebar-open {
  left: 0;  /* Quand ouvert, on le place à gauche */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #444;
}

/* Button for the toggle */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Make the button visible only on smaller screens */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}
