<app-header></app-header>

<div class="dashboard-container">
  <h2>Tableau de Bord des Collaborateurs</h2>

  <!-- Section des statistiques -->
  <div class="statistics">
    <div class="card">
      <h3>Nombre Total de Collaborateurs</h3>
      <p>{{ totalCollaborators }}</p>
    </div>
    <div class="card">
      <h3>Administrateurs</h3>
      <p>{{ totalAdmins }}</p>
    </div>
    <div class="card">
      <h3>Non-Administrateurs</h3>
      <p>{{ totalNotAdmins }}</p>
    </div>
  </div>

  <!-- Graphique en pie -->
  <div class="chart-container">
    <div #DoughnutChart class="chart" style="height: 400px;"></div> <!-- First bar chart -->
  </div>



</div>
