<app-header></app-header>
<div class="fullscreen-dashboard">
  <!-- Colonne 1 : Statistiques -->
  <div class="column stats-column">
    <div class="stat-card blue">
      <i class="fas fa-users icon"></i>
      <h2>Collaborateurs</h2>
      <h1>{{ totalCollaborators }}</h1>
    </div>
    <div class="stat-card orange">
      <i class="fas fa-user-check icon"></i>
      <h2>En Service</h2>
      <h1>{{ totalNotDeleted }}</h1>
    </div>
    <div class="stat-card violet">
      <i class="fas fa-user icon"></i>
      <h2>Non-Admins</h2>
      <h1>{{ totalNotAdmins }}</h1>
    </div>
  </div>

  <!-- Colonne 2 : Graphiques -->
  <div class="column chart-column">
    <div class="chart-card">
      <div #DoughnutChart class="chart"></div>
    </div>
    <div class="chart-card">
      <div #histogramChart class="chart"></div>
    </div>
  </div>

  <!-- Colonne 3 : Graphiques -->
  <div class="column chart-column">
    <div class="chart-card">
      <div #DeletedStatusChartElement class="chart"></div>
    </div>
    <div class="chart-card">

      <div #onlineChart class="chart"></div>
    </div>
  </div>
</div>

