
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2C3E50;
  text-align: center;
  margin-bottom: 30px; /* Espacement sous le titre pour ne pas le coller au contenu suivant */
  letter-spacing: 1px; /* Espacement léger entre les lettres pour plus de clarté */
  text-transform: uppercase; /* Transformer le titre en majuscules pour un effet plus formel */
  border-bottom: 3px solid #3498db; /* Ligne fine et colorée sous le titre pour un accent visuel */
  padding-bottom: 10px; /* Un peu d'espace sous la bordure pour l'aérer */
  transition: all 0.3s ease; /* Effet fluide de transition pour une interaction au survol */
}
.dashboard-container {
  margin: 20px;
  font-family: 'Lato', sans-serif;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px; /* Ajouter un espace entre le header et le tableau de bord */
}



.card {
  border: 2px solid;  /* Border color defined dynamically */
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.card i {
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}


/* Container pour les graphiques */
.chart-container {
  display: flex;
  flex-direction: row; /* Alignement horizontal des graphiques */
  justify-content: space-between; /* Espacement maximal entre les éléments */
  align-items: center; /* Centrage vertical */
  gap: 20px; /* Espacement entre les graphiques */
  width: 100%;
  margin-top: 10px;
}

/* Carte contenant le graphique */
.chart-card {
  margin-top: 10px;
  flex: 1;
  min-width: 90%;
  max-width: 95%;
  height: 500px; /* Hauteur ajustée pour la carte */
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


/* Media Queries */

/* Pour les écrans mobiles */
@media (max-width: 767px) {
  .dashboard-container {
    padding: 10px;
    margin-top: 20px;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .chart-container {
    flex-direction: column;
    gap: 15px;
  }

  .chart-card {
    width: 100%;
    height: 350px;
  }
}

