
  <app-header></app-header>
  <div class="fullscreen-dashboard">
    <!-- Colonne 1 : Statistiques -->
    <div class="column stats-column">
      <div class="stat-card blue">
        <i class="fas fa-users icon"></i>
        <h3>Nombre Total de Groupes</h3>
        <h1>{{ totalGroups }}</h1>
      </div>
    </div>

    <!-- Colonne 2 : Graphiques -->
    <div class="column chart-column">
      <div class="chart-card">
        <div #collaboratorsChart class="chart"></div>
      </div>
      <div class="chart-card">
        <div #workflowChart class="chart"></div>
      </div>
    </div>

    <!-- Colonne 3 : Graphiques -->
    <div class="column chart-column">
      <div class="chart-card">
        <div #addressChart class="chart"></div>
      </div>
      <div class="chart-card">

        <div #histogramChart class="chart"></div>
      </div>
    </div>
  </div>

