<!--

<div>
  <label for="classSelect">Sélectionnez une classe:</label>
  <select id="classSelect" [(ngModel)]="selectedClass" (change)="loadClassData()">
    <option value="collaborators">Collaborators</option>
    <option value="users">Users</option>
    <option value="groups">Groups</option>
  </select>
</div>

<div *ngIf="availableAttributes.length > 0">
  <div *ngFor="let attribute of selectedAttributes; let i = index">
    <label for="attributeSelect{{i}}">Sélectionnez attribut {{i + 1}} :</label>


    <select id="attributeSelect{{i}}" [(ngModel)]="selectedAttributes[i]" (change)="onAttributeChange(i)">
      <option *ngFor="let attribute of availableAttributes" [value]="attribute">
        {{ attribute }}
      </option>
    </select>

    <i class="fa fa-times" (click)="removeAttribute(i)" style="cursor: pointer; color: red;"></i>
  </div>


  <i class="fa fa-plus" (click)="addAttribute()" style="cursor: pointer; color: green; font-size: 20px;"></i>
</div>
 -->
 <div class="container">
  <h2>📊 Analyse de collection</h2>

  <div class="form-group">
    <label>Collection :</label>
    <select [(ngModel)]="selectedCollection" (change)="onCollectionSelect()">
      <option *ngFor="let col of collections" [value]="col">{{ col }}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="fieldNames.length > 0">
    <label>Champ :</label>
   <!--  <select [(ngModel)]="selectedField" (change)="onFieldChange()">
      <option *ngFor="let field of fieldNames" [value]="field">{{ field }}</option>
    </select> -->
  </div>
</div>
