<div class="main-container">
  <app-database></app-database>
 <app-Sidenav></app-Sidenav>
  <!-- Contenu principal du Dashboard -->
  <div class="main-content">
<div class="fullscreen-dashboard">
  <!-- Colonne 1 : Statistiques -->
  <div class="column stats-column">
    <div class="stat-card blue">
      <i class="fas fa-users icon"></i>
      <h2>Utilisateurs</h2>
      <h1>{{ totalUsers }}</h1>
    </div>
    <div class="stat-card orange">
      <i class="fas fa-check-circle"></i>
      <h2>Utilisateurs Confirmés</h2>
      <h1>{{ confirmedCount }}</h1>
    </div>
  </div>

  <div class="column chart-column">
    <div class="chart-card">
      <div #DoughnutChart3 class="chart"></div>
    </div>
    <div class="chart-card">
      <div #DoughnutChart1 class="chart"></div>
    </div>
  </div>

  <!-- Colonne 3 : Graphiques -->
  <div class="column chart-column">
    <div class="chart-card">
      <div #DoughnutChart2 class="chart"></div>
    </div>
    <div class="chart-card">

      <div #HistogramChart class="chart"></div>
    </div>
  </div>
</div>
  </div>
</div>
