/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 60px;
  height: calc(100vh - 60px);
  background: #f4f4f4;
  border-radius: 0 10px 10px 0;
  transition: width 0.3s ease;
  z-index: 900;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.sidebar-open {
  width: 250px;
}

/* Contenu du logo et du nom */
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* Logo */
.logo {
  width: 80%;
  margin-bottom: 10px;
}

/* Nom de la société */
.company-name {
  font-size: 18px;
  font-weight: bold;
  color: #3a90d1;
}

/* Bouton pour ouvrir/fermer la sidebar */
.menu-toggle {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #3a90d1;
  transition: color 0.3s ease;
}


.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #3a90d1;
  padding: 5px;
  transition: color 0.3s ease;
}

.menu-toggle:hover {
  color: #1e88e5;
}

/* Liste de navigation */
.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 20px 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #3a90d1;
  color: white;
}

.nav-links i {
  margin-right: 10px;
}


.sidebar.sidebar-open .nav-links span {
  display: inline;
}

.nav-links a.active {
  background: #3a90d1;
  color: #fff;
}

.nav-links a.active i {
  color: #fff;
}

/* Contenu principal (ajustement pour cohérence) */
.main-content {
  margin-left: 60px;
  margin-top: 60px;
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar.sidebar-open + .main-content {
  margin-left: 250px;
}

/* Media Queries pour responsivité */
@media (max-width: 768px) {
  .sidebar {
    width: 50px;
  }

  .sidebar.sidebar-open {
    width: 200px;
  }

  .sidebar.sidebar-open + .main-content {
    margin-left: 200px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .company-name {
    font-size: 16px;
  }

  .nav-links a {
    padding: 10px 15px;
    font-size: 14px;
  }

  .nav-links i {
    font-size: 18px;
  }
}
