
<div class="sidebar-content">

  <div class="sidebar-header">
    <button class="menu-toggle" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
 <!-- Navigation -->
 <ul class="nav-links">
  <li>
    <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <i class="fas fa-user"></i>
      <span *ngIf="isSidebarOpen">Utilisateurs</span>
    </a>
  </li>
  <li>
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <i class="fas fa-handshake"></i>
      <span *ngIf="isSidebarOpen">Collaborateurs</span>
    </a>
  </li>
  <li>
    <a routerLink="/group" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <i class="fas fa-users"></i>
      <span *ngIf="isSidebarOpen">Groupes</span>
    </a>
  </li>
  <li>
    <a routerLink="/form" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <i class="fas fa-chart-pie"></i>
      <span *ngIf="isSidebarOpen">Présentation</span>
    </a>
  </li>
</ul>
</div>
