<div class="sidebar-content" [ngClass]="{ 'sidebar-open': isSidebarOpen }">

  <!-- Navigation -->
  <ul class="nav-links">
    <li>
      <a routerLink="/user" routerLinkActive="active">
        <i class="fas fa-user"></i>
        <span *ngIf="isSidebarOpen">Utilisateurs</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-handshake"></i>
        <span *ngIf="isSidebarOpen">Collaborateurs</span>
      </a>
    </li>
    <li>
      <a routerLink="/group" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span *ngIf="isSidebarOpen">Groupes</span>
      </a>
    </li>
    <li>
      <a routerLink="/form" routerLinkActive="active">
        <i class="fas fa-chart-pie"></i>
        <span *ngIf="isSidebarOpen">Présentation</span>
      </a>
    </li>
  </ul>
</div>
